@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montserratbold';
    src: url('fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         url('fonts/montserrat/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
font-family: montserratregular;

}
.menu{
	margin-top: 70px;

}
.slide {
	background-image: url("../images/fondo.png");
	background-repeat: no-repeat;
	height: 580px;
	/*background-size: 100% auto;*/
	background-size: cover;
	position: relative;
	
}

.footer{
	background: #000;
}
.f1{
	color: #FFF;
	font-weight: bold;
}
.f2{
	color: #FFF;
}
.redesociales, .textofooter{
	margin-top: 30px;
}
.textofooter{
	text-align: right;
}

.navmenu{
	margin-bottom: 0px;
	background-color: #FFF;
}
.dropdown-menu > li > a{
	background: #e30613;
	opacity: 0.5;
	margin-bottom: 2px; 
	color: #FFF;
}

.menu > nav > div > ul > li > a{
	color: #000 !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background: transparent !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	background: transparent !important;
}

.navbar-inverse{
	border-color: transparent !important;
}
.contenido{
	position: absolute;
	left: 38%;
	top: 20%;
	width: 600px;
}
.tit1, .tit2{
	display: inline-block;
	font-size: 90px;
	font-weight: bold;

}
.conte{
	font-size: 48px;
}

.tit1{
	color:red;
}
.tit2{
	margin-left: 10px;
}
.dropdown-menu{
	padding: 0px !important;
}

.flota {
    z-index: 99999999999999;
}
.flota {
        background-repeat: no-repeat;
    position: fixed;
    right: 0px;
    top: 75%;
}

.redesociales img:hover{
	width: 10%;
}

.chicafooter img, .logo img{
	margin: 0px auto;
	    display: block;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}

#chatmobile{
	display: none;
	padding-top: 20px;
	padding-bottom: 10px;

}

#chatmobile img{
	margin:  0px auto;
	display: block;
}

@media (max-width: 767px) {

	#chatmobile{
		display: inline-block;
	}
 .flota{
 	display: none;
 }
 .redesociales img{
 	/*width: 15%;*/
 }
 .redesociales{
 	margin-top: 10px;
 }

.textofooter {
    text-align: center;
}
.red{
		width: 18%;
		display: inline-block;
	}

}

@media (max-width: 983px){
	.contenido{
		left: 10%;
	}
}
@media (min-width: 768px){
	.nav > li > a {
    padding: 5px 10px;
	}
}
@media (max-width: 683px){
	.contenido{
		width: 100%;
		padding: 26px;
		left: 0;
	}
}
@media (max-width: 683px){
	.slide{
		height: 400px;
	}
	.contenido{
		text-align: center;
	}
	.tit1, .tit2{
		font-size: 60px;
	}
	.conte{
		font-size: 37px;
	}
}
@media (max-width: 459px){
	.tit1, .tit2{
		font-size: 40px;
	}
	.conte{
		font-size: 26px;
	}
}