

.btn-1 {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #0071BF;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-1:hover {
  background: #f0f0f0;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -moz-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -ms-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -o-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);
  text-decoration: none;
}

.btn2 {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #76AA2A;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn2:hover {
  background: #f0f0f0;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -moz-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -ms-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -o-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);
  text-decoration: none;
}





.btn-3 {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #F57900;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-3:hover {
  background: #f0f0f0;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -moz-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -ms-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -o-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);
  text-decoration: none;
}

.btn-4 {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #4da1dc;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-4:hover {
  background: #f0f0f0;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -moz-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -ms-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -o-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);
  text-decoration: none;
}

