.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #ffffff 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ededed 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ededed 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #cccccc;
	display:inline-block;
	cursor:pointer;
	color:#006fbf;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7e8394;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ededed 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ededed 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ededed 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff',GradientType=0);
	background-color:#ededed;
}
.myButton:active {
	position:relative;
	top:1px;
}

.btn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #0071BF;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #f0f0f0;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -moz-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -ms-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -o-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);
  text-decoration: none;
}

.btn-1 {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #0071BF;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-1:hover {
  background: #f0f0f0;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -moz-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -ms-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -o-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);
  text-decoration: none;
}

.btn2 {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #76AA2A;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn2:hover {
  background: #f0f0f0;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -moz-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -ms-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -o-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);
  text-decoration: none;
}





.btn-3 {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #F57900;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-3:hover {
  background: #f0f0f0;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -moz-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -ms-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -o-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);
  text-decoration: none;
}

.btn-4 {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #4da1dc;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-4:hover {
  background: #f0f0f0;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -moz-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -ms-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: -o-linear-gradient(top, #f0f0f0, #ffffff);
  background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);
  text-decoration: none;
}
